In [1]:
import pandas as pd

In [2]:
# Create Url's to download files
sports = ['nfl']
for sport in sports:
    print(sport)
    
    for i in range(10,22):
        
        if sport == 'nfl':
            url = f'https://www.sportsbookreviewsonline.com/scoresoddsarchives/{sport}/{sport}%20odds%2020{i}.xlsx'

        else:
            year = str(i)+"-"+str(i+1)
            
        print(url)

nfl
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202010.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202011.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202012.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202013.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202014.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202015.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202016.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202017.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202018.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202019.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202020.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202021.xlsx

In [3]:
# NFL
sport = 'nfl'
nfl_df = pd.read_excel(f'Odds Data/{sport}/nfl odds 2010.xlsx')
#nfl_df['Date'] = nfl_df['Date'].apply(lambda x: str(2010)+str(x) if x > 900 else str(2011)+str(x))
path = f'Odds Data/{sport}/nfl odds 20'

nfl_df['Year'] = 2010

for i in range(11,21):
    df2 = pd.read_excel(path+str(i)+'.xlsx')
    year = int('20'+str(i))
    df2['Year'] = year
    nfl_df = nfl_df.append(df2) 

#Append list from 2010-2020 into 1 dataframe
#df2 = pd.read_excel(path+'11.xlsx')
#df2['Year'] = 2011
#nfl_df = nfl_df.append(df2)
#df3 = pd.read_excel(path+'12.xlsx')
#df3['Year'] = 2012
#nfl_df = nfl_df.append(df3)
#df4 = pd.read_excel(path+'13.xlsx')
#df4['Year'] = 2013
#nfl_df = nfl_df.append(df4)
#df5 = pd.read_excel(path+'14.xlsx')
#df5['Year'] = 2014
#nfl_df = nfl_df.append(df5)
#df6 = pd.read_excel(path+'15.xlsx')
#df6['Year'] = 2015
#nfl_df = nfl_df.append(df6)
#df7 = pd.read_excel(path+'16.xlsx')
#df7['Year'] = 2016
#nfl_df = nfl_df.append(df7)
#df8 = pd.read_excel(path+'17.xlsx')
#df8['Year'] = 2017
#nfl_df = nfl_df.append(df8)
#df9 = pd.read_excel(path+'18.xlsx')
#df9['Year'] = 2018
#nfl_df = nfl_df.append(df9)
#df10 = pd.read_excel(path+'19.xlsx')
#df10['Year'] = 2019
#nfl_df = nfl_df.append(df10)
#df11 = pd.read_excel(path+'20.xlsx')
#df11['Year'] = 2020
#nfl_df = nfl_df.append(df11)

In [4]:
nfl_df

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,Year
0,909,451,V,Minnesota,0,9,0,0,9,51.5,49.5,190,24,2010
1,909,452,H,NewOrleans,7,0,7,0,14,4.5,5,-230,3,2010
2,912,453,V,Carolina,3,13,0,2,18,40,40.5,220,20.5,2010
3,912,454,H,NYGiants,7,7,10,7,31,7,6,-260,3.5,2010
4,912,455,V,Miami,3,7,0,5,15,3,3,-175,pk,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,124,312,H,GreenBay,0,10,13,3,26,3,3,-180,6.5,2020
534,124,313,V,Buffalo,9,3,3,9,24,53.5,54.5,140,0.5,2020
535,124,314,H,KansasCity,0,21,10,7,38,4.5,3,-160,27.5,2020
536,207,101,N,KansasCity,3,3,3,0,9,2.5,3.5,-150,7.5,2020
537,207,102,N,TampaBay,7,14,10,0,31,56,55,140,28,2020

In [5]:
#Create new df with selected columns only
new_nfl_df = nfl_df[["Date","VH","Team","Final","ML","Year"]]

In [6]:
new_nfl_df

     Date VH        Team  Final   ML  Year
0     909  V   Minnesota      9  190  2010
1     909  H  NewOrleans     14 -230  2010
2     912  V    Carolina     18  220  2010
3     912  H    NYGiants     31 -260  2010
4     912  V       Miami     15 -175  2010
..    ... ..         ...    ...  ...   ...
533   124  H    GreenBay     26 -180  2020
534   124  V     Buffalo     24  140  2020
535   124  H  KansasCity     38 -160  2020
536   207  N  KansasCity      9 -150  2020
537   207  N    TampaBay     31  140  2020

[5878 rows x 6 columns]

In [7]:
#Standardize team names, starting with removing duplicates
new_nfl_df['Team'].unique()

array(['Minnesota', 'NewOrleans', 'Carolina', 'NYGiants', 'Miami',
       'Buffalo', 'Atlanta', 'Pittsburgh', 'Detroit', 'Chicago',
       'Cincinnati', 'NewEngland', 'Cleveland', 'TampaBay', 'Denver',
       'Jacksonville', 'Indianapolis', 'Houston', 'Oakland', 'Tennessee',
       'GreenBay', 'Philadelphia', 'SanFrancisco', 'Seattle', 'Arizona',
       'St.Louis', 'Dallas', 'Washington', 'Baltimore', 'NYJets',
       'SanDiego', 'KansasCity', 'BuffaloBills', 'NewYork', 'LosAngeles',
       'LARams', 'LAChargers', 'LasVegas', 'LVRaiders', 'KCChiefs',
       'Kansas', 'Tampa', 'Washingtom'], dtype=object)

In [8]:
new_nfl_df.replace("KCChiefs", "KansasCity",inplace = True)
new_nfl_df.replace("Kansas", "KansasCity",inplace = True)
new_nfl_df.replace("LosAngeles", "LARams",inplace = True)
new_nfl_df.replace("LasVegas", "LVRaiders",inplace = True)
new_nfl_df.replace("Washingtom", "Washington",inplace = True)
new_nfl_df.replace("Tampa", "TampaBay",inplace = True)
new_nfl_df.replace("New York", "NYJets",inplace = True)
new_nfl_df.replace("NewYork", "NYGiants",inplace = True)
new_nfl_df.replace("BuffaloBills", "Buffalo",inplace = True)

C:\Users\18582\LearnPython\lib\site-packages\pandas\core\frame.py:4379: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [9]:
#Final Results, Chargers/Rams/Raiders have 2 locations (35 total)
new_nfl_df['Team'].unique()

array(['Minnesota', 'NewOrleans', 'Carolina', 'NYGiants', 'Miami',
       'Buffalo', 'Atlanta', 'Pittsburgh', 'Detroit', 'Chicago',
       'Cincinnati', 'NewEngland', 'Cleveland', 'TampaBay', 'Denver',
       'Jacksonville', 'Indianapolis', 'Houston', 'Oakland', 'Tennessee',
       'GreenBay', 'Philadelphia', 'SanFrancisco', 'Seattle', 'Arizona',
       'St.Louis', 'Dallas', 'Washington', 'Baltimore', 'NYJets',
       'SanDiego', 'KansasCity', 'LARams', 'LAChargers', 'LVRaiders'],
      dtype=object)

In [10]:
#Replace unique values with full team name
new_nfl_df.replace("Minnesota", "Minnesota Vikings",inplace = True)
new_nfl_df.replace("NewOrleans", "New Orleans Saints",inplace = True)
new_nfl_df.replace("Carolina", "Carolina Panthers",inplace = True)
new_nfl_df.replace("NYGiants", "New York Giants",inplace = True)
new_nfl_df.replace("Miami", "Miami Dolphins",inplace = True)
new_nfl_df.replace("Buffalo", "Buffalo Bills",inplace = True)
new_nfl_df.replace("Atlanta", "Atlanta Falcons",inplace = True)
new_nfl_df.replace("Pittsburg", "Pittsburg Steelers",inplace = True)
new_nfl_df.replace("Detroit", "Detroit Lions",inplace = True)
new_nfl_df.replace("Chicago", "Chicago Bears",inplace = True)
new_nfl_df.replace("Cincinnati", "Cincinnati Bengals",inplace = True)
new_nfl_df.replace("NewEngland", "New England Patriots",inplace = True)
new_nfl_df.replace("Cleveland", "Cleveland Browns",inplace = True)
new_nfl_df.replace("TampaBay", "Tampa Bay Buccaneers",inplace = True)
new_nfl_df.replace("Denver", "Denver Broncos",inplace = True)
new_nfl_df.replace("Jacksonville", "Jacksonville Jaguars",inplace = True)
new_nfl_df.replace("Indianapolis", "Indianapolis Colts",inplace = True)
new_nfl_df.replace("Oakland", "Oakland Raiders",inplace = True)
new_nfl_df.replace("Tennessee", "Tennessee Titans",inplace = True)
new_nfl_df.replace("GreenBay", "Green Bay Packers",inplace = True)
new_nfl_df.replace("Philadelphia", "Philadelphia Eagles",inplace = True)
new_nfl_df.replace("SanFrancisco", "San Francisco 49ers",inplace = True)
new_nfl_df.replace("Seattle", "Seattle Seahawks",inplace = True)
new_nfl_df.replace("Arizona", "Arizona Cardinals",inplace = True)
new_nfl_df.replace("St.Louis", "St.Louis Rams",inplace = True)
new_nfl_df.replace("Dallas", "Dallas Cowboys",inplace = True)
new_nfl_df.replace("Washington", "Washington Football Team",inplace = True)
new_nfl_df.replace("Baltimore", "Baltimore Ravens",inplace = True)
new_nfl_df.replace("NYJets", "New York Jets",inplace = True)
new_nfl_df.replace("SanDiego", "San Diego Chargers",inplace = True)
new_nfl_df.replace("KansasCity", "Kansas City Chiefs",inplace = True)
new_nfl_df.replace("LARams", "Los Angeles Rams",inplace = True)
new_nfl_df.replace("LAChargers", "Los Angeles Chargers",inplace = True)
new_nfl_df.replace("LVRaiders", "Las Vegas Raiders",inplace = True)

In [11]:
#updated df w/appended years + selected columns + updated Team Name
new_nfl_df

     Date VH                  Team  Final   ML  Year
0     909  V     Minnesota Vikings      9  190  2010
1     909  H    New Orleans Saints     14 -230  2010
2     912  V     Carolina Panthers     18  220  2010
3     912  H       New York Giants     31 -260  2010
4     912  V        Miami Dolphins     15 -175  2010
..    ... ..                   ...    ...  ...   ...
533   124  H     Green Bay Packers     26 -180  2020
534   124  V         Buffalo Bills     24  140  2020
535   124  H    Kansas City Chiefs     38 -160  2020
536   207  N    Kansas City Chiefs      9 -150  2020
537   207  N  Tampa Bay Buccaneers     31  140  2020

[5878 rows x 6 columns]

In [12]:
#change Date to Datetime

def GrabMonth(x):
    if len(str(x)) > 3:
        return int(str(x)[:2])
    else:
        return int(str(x)[:1])
def GrabDay(x):
    if len(str(x)) >3:
        return int(str(x)[2:])
    else:
        return int(str(x)[1:])

 #Apply new defined functions to DF
new_nfl_df['Month'] = new_nfl_df['Date'].apply(lambda x: GrabMonth(x))
new_nfl_df['Day'] = new_nfl_df['Date'].apply(lambda x: GrabDay(x))

# Transform the Date column type
cols=['Year','Month','Day']
new_nfl_df['Date'] = new_nfl_df[cols].apply(lambda x: '/'.join(x.values.astype(str)), axis="columns")
new_nfl_df.drop((['Year','Month','Day']),axis=1,inplace=True)    
new_nfl_df['Date']=pd.to_datetime(new_nfl_df['Date'])

<ipython-input-12-734418fd7e0f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nfl_df['Month'] = new_nfl_df['Date'].apply(lambda x: GrabMonth(x))
<ipython-input-12-734418fd7e0f>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nfl_df['Day'] = new_nfl_df['Date'].apply(lambda x: GrabDay(x))
<ipython-input-12-734418fd7e0f>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nfl_df['Date'] = new_nfl_df[cols].apply(lambda x: '/'.join(x.values.astype(str)), axis="columns")
C:\Users\18582\LearnPython\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-12-734418fd7e0f>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nfl_df['Date']=pd.to_datetime(new_nfl_df['Date'])

In [13]:
new_nfl_df

          Date VH                  Team  Final   ML
0   2010-09-09  V     Minnesota Vikings      9  190
1   2010-09-09  H    New Orleans Saints     14 -230
2   2010-09-12  V     Carolina Panthers     18  220
3   2010-09-12  H       New York Giants     31 -260
4   2010-09-12  V        Miami Dolphins     15 -175
..         ... ..                   ...    ...  ...
533 2020-01-24  H     Green Bay Packers     26 -180
534 2020-01-24  V         Buffalo Bills     24  140
535 2020-01-24  H    Kansas City Chiefs     38 -160
536 2020-02-07  N    Kansas City Chiefs      9 -150
537 2020-02-07  N  Tampa Bay Buccaneers     31  140

[5878 rows x 5 columns]

In [14]:
new_nfl_df.to_csv(r'Odds Data\new_nfl_df.csv', index = False)

In [19]:
new_nfl_df['Date'].dtypes

dtype('<M8[ns]')