In [1]:
# Import Dependencies

import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
from config import postgresql_pw

In [2]:
# Create Url's to download files
sports = ['nfl','nba','nhl','mlb']
for sport in sports:
    print(sport)
    
    for i in range(10,22):
        
        if sport == 'mlb':
            url = f'https://www.sportsbookreviewsonline.com/scoresoddsarchives/{sport}/{sport}%20odds%2020{i}.xlsx'

        else:
            year = str(i)+"-"+str(i+1)
            url = f'https://www.sportsbookreviewsonline.com/scoresoddsarchives/{sport}/{sport}%20odds%2020{year}.xlsx'

        print(url)

nfl
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202010-11.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202011-12.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202012-13.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202013-14.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202014-15.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202015-16.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202016-17.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202017-18.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202018-19.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202019-20.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202020-21.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202021-22.xlsx
nba
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202010-11.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202011-12.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202012-13.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202013-14.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202014-15.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202015-16.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202016-17.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202017-18.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202018-19.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202019-20.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202020-21.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202021-22.xlsx
nhl
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202010-11.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202011-12.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202012-13.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202013-14.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202014-15.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202015-16.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202016-17.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202017-18.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202018-19.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202019-20.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202020-21.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202021-22.xlsx
mlb
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202010.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202011.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202012.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202013.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202014.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202015.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202016.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202017.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202018.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202019.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202020.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202021.xlsx

In [3]:
'''
Brittany
'''

# NBA
sport = 'nba'
nba_df = pd.read_excel(f'Odds Data/{sport}/{sport} odds 2010-11.xlsx')
nba_df['Date'] = nba_df['Date'].apply(lambda x: str(2010) + str(x) if x > 900 else str(20110) + str(x))
path = f'Odds Data/{sport}/{sport} odds 20'

team_mapping = {
"Miami" : "Miami Heat",
"Boston": "Boston Celtics",
"Phoenix": "Phoenix Suns",
"Portland": "Portland Trail Blazers",
"Houston": "Houston Rockets",
"LALakers": "Los Angeles Lakers",
"Detroit": "Detroit Pistons",
"NewJersey": "New Jersey Devils",
"Cleveland": "Cleaveland Cavaliers",
"NewYork": "New York Knicks",
"Toronto": "Toronto Raptors",
"Philadelphia": "Philadelphia 76ers",
"Atlanta": "Atlanta Hawks",
"Memphis": "Memphis Grizzlies",
"Sacramento": "Sacramento Kings",
"Minnesota": "Minnesota Timberwolves",
"Milwaukee": "Milwaukee Bucks",
"NewOrleans": "New Orleans Pelicans",
"Chicago": "Chicago Bulls",
"OklahomaCity": "Oklahoma City Thunder",
"Charlotte": "Charlotte Hornets",
"Dallas": "Dallas Mavericks",
"Indiana": "Indiana Pacers",
"SanAntonio": "San Antonio Spurs",
"Utah": "Utah Jazz",
"Denver": "Denver Nuggets",
"GoldenState": "San Francisco Golden State Warriors",
"LAClippers": "Los Angeles Clippers",
"Washington": "Washington Wizards",
"Orlando": "Orlando Magic",
"Brooklyn": "Brooklyn Nets",
"Oklahoma City": "Oklahoma City Thunder",
"LA Clippers": "Los Angeles Clippers"
}

for i in range(11,21):
    df2 = pd.read_excel(path+str(i)+"-"+str(i+1)+'.xlsx')
    df2['Date'] = df2['Date'].apply(lambda x: str(20) + str(i) + str(x) if x > 900 else str(20) + str(i+1)+ str(0) + str(x))
    nba_df = nba_df.append(df2) 
    
nba_df=nba_df.drop(labels=['Rot','1st','2nd','3rd','Open','Close','2H','4th'],axis=1)
nba_df["Team"]=nba_df["Team"].apply(lambda x: team_mapping[x])
nba_df['Date']=pd.to_datetime(nba_df['Date'], format='%Y%m%d')

In [4]:
nba_df.head()

        Date VH                    Team  Final   ML
0 2010-10-26  V              Miami Heat     80 -125
1 2010-10-26  H          Boston Celtics     88  105
2 2010-10-26  V            Phoenix Suns     92  255
3 2010-10-26  H  Portland Trail Blazers    106 -310
4 2010-10-26  V         Houston Rockets    110  255

In [5]:
'''
Josh
'''

# NHL
sport = 'nhl'
nhl_df = pd.read_excel(f'Odds Data/{sport}/{sport} odds 2010-11.xlsx')
path = f'Odds Data/{sport}/{sport} odds 20'

nhl_df['Year']= 2010

for i in range(11,20):
    df2 = pd.read_excel(path+str(i)+"-"+str(i+1)+'.xlsx')
    year = int('20'+str(i))
    df2['Year']= year
    nhl_df = nhl_df.append(df2)
    
nhl2 = pd.read_excel(path+'21.xlsx')
nhl2['Year'] = 2021
nhl_df = nhl_df.append(nhl2)

In [6]:
clean_nhl = nhl_df[['Date', 'VH', 'Team', 'Final','Close', 'Year']].copy()


def month(x):
    if len(str(x)) > 3:
        return int(str(x)[:2])
    else:
        return int(str(x)[:1])
    
def day(x):
    if len(str(x)) > 3:
        return int(str(x)[2:])
    else:
        return int(str(x)[1:])

    
clean_nhl["Month"] = clean_nhl['Date'].apply(lambda x: month(x))
clean_nhl["Day"] = clean_nhl['Date'].apply(lambda x: day(x))

cols=['Year', 'Month', 'Day']
clean_nhl["Date"] = clean_nhl[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

clean_nhl = clean_nhl.drop(['Year', 'Month', 'Day'], axis=1)

teams = {
"Carolina" : "Carolina Hurricanes",
"Minnesota": "Minnesota Wild",
"Philadelphia": "Philadelphia Flyers",
"Pittsburgh": "Pittsburgh Penguins",
"Montreal": "Montreal Canadiens",
"Toronto": "Toronto Maple Leafs",
"Chicago": "Chicago Blackhawks",
"Colorado": "Colorado Avalanche",
"Calgary": "Calgary Flames",
"Edmonton": "Edmonton Oilers",
"Columbus": "Columbus Blue Jackets",
"SanJose": "San Jose Sharks",
"Anaheim": "Anaheim Ducks",
"Detroit": "Detroit Red Wings",
"Dallas": "Dallas Stars",
"NewJersey": "New Jersey Devils",
"Buffalo": "Buffalo Sabres",
"Ottawa": "Ottawa Senators",
"Washington": "Washington Capitals",
"Atlanta": "Atlanta Thrashers",
"Phoenix": "Arizona Coyotes",
"Boston": "Boston Bruins",
"NYRangers": "New York Rangers",
"NYIslanders": "New York Islanders",
"TampaBay": "Tampa Bay Lightning",
"St.Louis": "St. Louis Blues",
"Nashville": "Nashville Predators",
"LosAngeles": "Los Angeles Kings",
"Vancouver": "Vancouver Canucks",
"Florida": "Florida Panthers",
"Winnipeg": "Winnipeg Jets",
"Arizona": "Arizona Coyotes",
"Vegas": "Los Vegas Knights",
"Arizonas": "Arizona Coyotes",
"Tampa": "Tampa Bay Lightning"
}

clean_nhl['Team'] = clean_nhl['Team'].map(teams)

clean_nhl.rename({'Close':'ML'},axis=1,inplace=True)

In [7]:
nhl_df = clean_nhl

nhl_df.head()

        Date VH                 Team Final    ML
0  2010-10-7  V  Carolina Hurricanes     4   100
1  2010-10-7  H       Minnesota Wild     3  -120
2  2010-10-7  V  Philadelphia Flyers     3   150
3  2010-10-7  H  Pittsburgh Penguins     2  -170
4  2010-10-7  V   Montreal Canadiens     2   135

In [8]:
'''
Collin
'''

# NFL
sport = 'nfl'
nfl_df = pd.read_excel(f'Odds Data/{sport}/nfl odds 2010-11.xlsx')
#nfl_df['Date'] = nfl_df['Date'].apply(lambda x: str(2010)+str(x) if x > 900 else str(2011)+str(x))
path = f'Odds Data/{sport}/nfl odds 20'

nfl_df['Year'] = 2010

# for i in range(11,21):
#     df2 = pd.read_excel(path+str(i)+'.xlsx')
#     year = int('20'+str(i))
#     df2['Year'] = year
#     nfl_df = nfl_df.append(df2) 

# Append list from 2010-2020 into 1 dataframe
df2 = pd.read_excel(path+'11-12.xlsx')
df2['Year'] = 2011
nfl_df = nfl_df.append(df2)
df3 = pd.read_excel(path+'12-13.xlsx')
df3['Year'] = 2012
nfl_df = nfl_df.append(df3)
df4 = pd.read_excel(path+'13-14.xlsx')
df4['Year'] = 2013
nfl_df = nfl_df.append(df4)
df5 = pd.read_excel(path+'14-15.xlsx')
df5['Year'] = 2014
nfl_df = nfl_df.append(df5)
df6 = pd.read_excel(path+'15-16.xlsx')
df6['Year'] = 2015
nfl_df = nfl_df.append(df6)
df7 = pd.read_excel(path+'16-17.xlsx')
df7['Year'] = 2016
nfl_df = nfl_df.append(df7)
df8 = pd.read_excel(path+'17-18.xlsx')
df8['Year'] = 2017
nfl_df = nfl_df.append(df8)
df9 = pd.read_excel(path+'18-19.xlsx')
df9['Year'] = 2018
nfl_df = nfl_df.append(df9)
df10 = pd.read_excel(path+'19-20.xlsx')
df10['Year'] = 2019
nfl_df = nfl_df.append(df10)
df11 = pd.read_excel(path+'20-21.xlsx')
df11['Year'] = 2020
nfl_df = nfl_df.append(df11)

In [9]:
#Create new df with selected columns only
new_nfl_df = nfl_df[["Date","VH","Team","Final","ML","Year"]]

In [10]:
#Replace unique values with full team name

new_nfl_df.replace("KCChiefs", "KansasCity",inplace = True)
new_nfl_df.replace("Kansas", "KansasCity",inplace = True)
new_nfl_df.replace("LosAngeles", "LARams",inplace = True)
new_nfl_df.replace("LasVegas", "LVRaiders",inplace = True)
new_nfl_df.replace("Washingtom", "Washington",inplace = True)
new_nfl_df.replace("Tampa", "TampaBay",inplace = True)
new_nfl_df.replace("New York", "NYJets",inplace = True)
new_nfl_df.replace("NewYork", "NYGiants",inplace = True)
new_nfl_df.replace("BuffaloBills", "Buffalo",inplace = True)

new_nfl_df.replace("Minnesota", "Minnesota Vikings",inplace = True)
new_nfl_df.replace("NewOrleans", "New Orleans Saints",inplace = True)
new_nfl_df.replace("Carolina", "Carolina Panthers",inplace = True)
new_nfl_df.replace("NYGiants", "New York Giants",inplace = True)
new_nfl_df.replace("Miami", "Miami Dolphins",inplace = True)
new_nfl_df.replace("Buffalo", "Buffalo Bills",inplace = True)
new_nfl_df.replace("Atlanta", "Atlanta Falcons",inplace = True)
new_nfl_df.replace("Pittsburg", "Pittsburg Steelers",inplace = True)
new_nfl_df.replace("Detroit", "Detroit Lions",inplace = True)
new_nfl_df.replace("Chicago", "Chicago Bears",inplace = True)
new_nfl_df.replace("Cincinnati", "Cincinnati Bengals",inplace = True)
new_nfl_df.replace("NewEngland", "New England Patriots",inplace = True)
new_nfl_df.replace("Cleveland", "Cleveland Browns",inplace = True)
new_nfl_df.replace("TampaBay", "Tampa Bay Buccaneers",inplace = True)
new_nfl_df.replace("Denver", "Denver Broncos",inplace = True)
new_nfl_df.replace("Jacksonville", "Jacksonville Jaguars",inplace = True)
new_nfl_df.replace("Indianapolis", "Indianapolis Colts",inplace = True)
new_nfl_df.replace("Oakland", "Oakland Raiders",inplace = True)
new_nfl_df.replace("Tennessee", "Tennessee Titans",inplace = True)
new_nfl_df.replace("GreenBay", "Green Bay Packers",inplace = True)
new_nfl_df.replace("Philadelphia", "Philadelphia Eagles",inplace = True)
new_nfl_df.replace("SanFrancisco", "San Francisco 49ers",inplace = True)
new_nfl_df.replace("Seattle", "Seattle Seahawks",inplace = True)
new_nfl_df.replace("Arizona", "Arizona Cardinals",inplace = True)
new_nfl_df.replace("St.Louis", "St.Louis Rams",inplace = True)
new_nfl_df.replace("Dallas", "Dallas Cowboys",inplace = True)
new_nfl_df.replace("Washington", "Washington Football Team",inplace = True)
new_nfl_df.replace("Baltimore", "Baltimore Ravens",inplace = True)
new_nfl_df.replace("NYJets", "New York Jets",inplace = True)
new_nfl_df.replace("SanDiego", "San Diego Chargers",inplace = True)
new_nfl_df.replace("KansasCity", "Kansas City Chiefs",inplace = True)
new_nfl_df.replace("LARams", "Los Angeles Rams",inplace = True)
new_nfl_df.replace("LAChargers", "Los Angeles Chargers",inplace = True)
new_nfl_df.replace("LVRaiders", "Las Vegas Raiders",inplace = True)

C:\Users\rbvan\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [11]:
#change Date to Datetime

def GrabMonth(x):
    if len(str(x)) > 3:
        return int(str(x)[:2])
    else:
        return int(str(x)[:1])
def GrabDay(x):
    if len(str(x)) >3:
        return int(str(x)[2:])
    else:
        return int(str(x)[1:])

 #Apply new defined functions to DF
new_nfl_df['Month'] = new_nfl_df['Date'].apply(lambda x: GrabMonth(x))
new_nfl_df['Day'] = new_nfl_df['Date'].apply(lambda x: GrabDay(x))

# Transform the Date column type
cols=['Year','Month','Day']
new_nfl_df['Date'] = new_nfl_df[cols].apply(lambda x: '/'.join(x.values.astype(str)), axis="columns")
new_nfl_df.drop((['Year','Month','Day']),axis=1,inplace=True)    
new_nfl_df['Date']=pd.to_datetime(new_nfl_df['Date'])

C:\Users\rbvan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\rbvan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\rbvan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbvan\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\rbvan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
nfl_df = new_nfl_df
nfl_df.head()

        Date VH                Team  Final   ML
0 2010-09-09  V   Minnesota Vikings      9  190
1 2010-09-09  H  New Orleans Saints     14 -230
2 2010-09-12  V   Carolina Panthers     18  220
3 2010-09-12  H     New York Giants     31 -260
4 2010-09-12  V      Miami Dolphins     15 -175

In [13]:
# MLB
sport = 'mlb'
mlb_df = pd.read_excel(f'Odds Data/{sport}/{sport} odds 2010.xlsx')
path = f'Odds Data/{sport}/{sport} odds 20'

mlb_df['Year'] = 2010

for i in range(11,22):
    df2 = pd.read_excel(path+str(i)+'.xlsx')
    year = int('20'+str(i))
    df2['Year'] = year

    mlb_df = mlb_df.append(df2)
    
mlb_df.drop(axis = 1, columns = ['Pitcher','Rot', '1st', '2nd', '3rd', '4th',
   '5th', '6th', '7th', '8th', '9th','Open OU', 'Open',
   'Unnamed: 18', 'Close OU', 'Unnamed: 20','Run Line','Close OU', 'Unnamed: 22','RunLine','OpenOU','CloseOU'],inplace=True)

In [14]:
# MLB DB Cleaning

'''
Build Function to Grab Month / Day of Month from current Date Column

'''
def GrabMonth(x):
    if len(str(x)) > 3:
        return int(str(x)[:2])
    else:
        return int(str(x)[:1])

def GrabDay(x):
    if len(str(x)) > 3:
        return int(str(x)[2:])
    else:
        return int(str(x)[1:])
    
# Apply new functions to DF
    
mlb_df['Month'] = mlb_df['Date'].apply(lambda x: GrabMonth(x))
mlb_df['Day'] = mlb_df['Date'].apply(lambda x: GrabDay(x))

In [15]:
# Transform Date Column to DateTime

cols=['Year','Month','Day']
mlb_df['Date'] = mlb_df[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
mlb_df.drop(['Year','Month','Day'],axis=1,inplace=True)
mlb_df['Date'] = pd.to_datetime(mlb_df['Date'])

# Get Unique Team Names and Map to Updated Team names

teams = mlb_df['Team'].unique()
names = ['New York Yankees','Boston Red Sox','Philidelphia Phillies','Washington Nationals','Miami Marlins',
         'New York Mets','St Louis Cardinals','Cincinati Reds','Los Angeles Angels','Pitsburg Pirates',
         'Colorado Rockies', 'Milwaukee Brewers','Chicago Cubs','Atlanta Braves','San Diego Padres','Arizona Diamondbacks',
         'San Francisco Giants','Houston Astros','Cleveland Indians','Chicago White Sox','Toronto Blue Jays',
         'Texas Rangers','Detroit Tigers','Kansas City Royals','Minnesota Twins','Las Angeles Angels',
         'Seatle Mariners','Oakland Athletics','Baltimore Orioles','Tampa Bay Rays','Los Angeles Dodgers',
         'San Francisco Giants','Boston Red Sox', 'Chicago Cubs']

name_dict = dict(zip(teams,names))
mlb_df['Team'] = mlb_df['Team'].map(name_dict)

# Change Close to ML
mlb_df = mlb_df.rename({'Close':'ML'},axis=1)

# Drop NL Scores
mlb_df = mlb_df[mlb_df['Final']!='NL']

In [16]:
mlb_df.head()

        Date VH                   Team Final     ML
0 2010-04-04  V       New York Yankees     7 -103.0
1 2010-04-04  H         Boston Red Sox     9 -117.0
2 2010-04-05  V  Philidelphia Phillies    11 -200.0
3 2010-04-05  H   Washington Nationals     1  170.0
4 2010-04-05  V          Miami Marlins     1 -112.0